@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");

body {
    --font: "Comic Sans MS"; /* change to '' for default discord font */
    --code-font: "ComicShannsMono Nerd Font Mono"; /* change to '' for default discord font */
    font-weight: 100; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */

    --gap: 4px; /* spacing between panels */
    --divider-thickness: 1px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    --animations: off; /* off: disable animations/transitions, on: enable animations/transitions */

    --top-bar-height: var(--gap);
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    --custom-window-controls: on; /* off: default window controls, on: custom window controls */
    --window-control-size: 10px; /* size of custom window controls */

    --custom-dms-icon: off; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */

    --custom-chatbar: off; /* off: default chatbar, aligned: chatbar aligned with the user panel, separated: chatbar separated from chat */
    --chatbar-height: 48px; /* height of the chatbar (52px by default, 47px recommended for aligned, 56px recommended for separated) */
    --chatbar-padding: 6px; /* padding of the chatbar. only applies in aligned mode. */
}

:root {
    --colors: on; /* off: discord default colors, on: midnight custom colors */

    --text-0: var(--bg-4); /* text on colored elements */
    --text-1: hsl(220, 45%, 95%); /* other normally white text */
    --text-2: hsl(220, 25%, 70%); /* headings and important text */
    --text-3: hsl(220, 20%, 60%); /* normal text */
    --text-4: hsl(220, 15%, 40%); /* icon buttons and channels */
    --text-5: hsl(220, 15%, 25%); /* muted channels/chats and timestamps */

    --bg-1: hsla(220, 15%, 20%, 1); /* dark buttons when clicked */
    --bg-2: hsl(213, 5%, 9%); /* dark buttons */
    --bg-3: hsl(220, 6%, 11%); /* spacing, secondary elements */
    --bg-4: rgb(18, 20, 20); /* main background color */
    --hover: hsla(221, 19%, 40%, 0.1); /* channels and buttons when hovered */
    --active: hsla(220, 19%, 40%, 0.2);
    --active-2: hsla(220, 19%, 40%, 0.3);
    --message-hover: hsla(220, 0%, 0%, 0.1); /* messages when hovered */

    --accent-1: var(--blue-1); /* links and other accent text */
    --accent-2: var(--blue-2); /* small accent elements */
    --accent-3: var(--blue-3); /* accent buttons */
    --accent-4: var(--blue-4); /* accent buttons when hovered */
    --accent-5: var(--blue-5); /* accent buttons when clicked */
    --accent-new: var(--red-4);
    --mention: linear-gradient(
        to right,
        color-mix(in hsl, var(--yellow-2), transparent 90%) 40%,
        transparent
    );
    --mention-hover: linear-gradient(
        to right,
        color-mix(in hsl, var(--accent-2), transparent 95%) 40%,
        transparent
    );
    --reply: linear-gradient(
        to right,
        color-mix(in hsl, var(--text-3), transparent 90%) 40%,
        transparent
    );
    --reply-hover: linear-gradient(
        to right,
        color-mix(in hsl, var(--text-3), transparent 95%) 40%,
        transparent
    );

    --online: var(--green-2); /* change to #40a258 for default */
    --dnd: var(--red-4); /* change to #d83a41 for default */
    --idle: var(--yellow-2); /* change to #cc954c for default */
    --streaming: var(--purple-2); /* change to ##9147ff for default */
    --offline: var(--text-4); /* change to #82838b for default offline color */

    --border-light: var(--hover); /* general light border color */
    --border: var(--active); /* general normal border color */
    --border-hover: var(--active); /* border color of panels when hovered */
    --button-border: hsl(220, 0%, 100%, 0.1);

    --red-1: oklch(80% 0.18 28);
    --red-2: oklch(75% 0.18 28);
    --red-3: oklch(70% 0.18 28);
    --red-4: oklch(65% 0.18 28);
    --red-5: oklch(60% 0.18 28);

    --green-1: oklch(75% 0.11 170);
    --green-2: oklch(70% 0.11 170);
    --green-3: oklch(65% 0.11 170);
    --green-4: oklch(60% 0.11 170);
    --green-5: oklch(55% 0.11 160);

    --blue-1: oklch(75% 0.04 215);
    --blue-2: oklch(70% 0.04 215);
    --blue-3: oklch(65% 0.04 215);
    --blue-4: oklch(60% 0.04 215);
    --blue-5: oklch(55% 0.04 215);

    --yellow-1: oklch(80% 0.11 90);
    --yellow-2: oklch(75% 0.11 90);
    --yellow-3: oklch(70% 0.11 90);
    --yellow-4: oklch(65% 0.11 90);
    --yellow-5: oklch(60% 0.11 90);

    --purple-1: oklch(75% 0.11 310);
    --purple-2: oklch(70% 0.11 310);
    --purple-3: oklch(65% 0.11 310);
    --purple-4: oklch(60% 0.11 310);
    --purple-5: oklch(55% 0.11 310);
}

/* fix chat having a gap on the bottom */
@container body style(--custom-chatbar: separated) {
    .form_f75fb0 {
        margin-top: -2rem !important;
    }
}

@container root style(--colors: on) {
    .themeColor_fb7f94.primary_fb7f94 /* profile rpc buttons */ {
        background: hsla(220, 30%, 80%, 0.3) !important;
    }

    a.anchor_edefb8 /* link color */ {
        color: hsl(220, 100%, 74%) !important;
    }

    .container__235ca,
    .container__703b9 /* user that left the guild color */ {
        color: white !important;
    }

    .vc-plugins-restart-button /* fix unreadable text color on vencord restart button */ {
        color: white !important;
    }

    .ephemeral__5126c.automodMessage__5126c /* automodded messages */ {
        background: linear-gradient(
            to right,
            color-mix(in hsl, var(--red-2), transparent 90%) 40%,
            transparent
        ) !important;
    }

    .ephemeral__5126c.zalgo_c19a55 /* ephemeral messages */ {
        background: linear-gradient(
            to right,
            color-mix(in hsl, var(--blue-4), transparent 90%) 40%,
            transparent
        ) !important;
    }

    .button_e131a9 /* fix vc buttons being insanly small icons */ {
        padding: 10px !important;
    }

    .disabledButtonWrapper__201d5 /* fix disabled buttons being off centered from the previous fix */ {
        margin: -10px !important;
    }

    /* more compact channel list */
    .containerDefault__29444 {
        margin-top: -3px !important;

        .header__13cf1 {
            font-weight: 600 !important;
            font-size: 16px !important;
        }
    }
    .containerDefault_c69b6d {
        margin-top: -1.7px !important;
    }

    /* fix the message text size */
    .messageContent_c19a55 {
        font-size: 14px !important;
    }
    .editor__1b31f {
        font-size: 14px !important;
    }
    .inlineCode_ada32f {
        font-size: 14px !important;
    }
    code {
        font-size: 14px !important;
    }

    .channelTextArea_f75fb0 /* lower message text area */ {
        margin-bottom: 1.4rem !important;
    }

    .inner__74017 /* make message area smaller height wise */ {
        padding-top: -1.5rem !important;
        padding-bottom: -2.5rem !important;
    }
    
    .attachWrapper__0923f {
        padding-bottom: 0.25rem !important;
        padding-top: 0.5rem !important;
    }

    .typingDots_b88801 /* make the currently typing people lined up correctly */ {
        margin-bottom: -9.25rem !important;
    }

    .scrollerSpacer__36d07 {
        height: 1.5rem !important;
    }

    /* todo: move timed out thing to the left */
    .vc-char-counter /* put equicord character counter underneath the message text box */ {
        bottom: -20px !important;
        background: none !important;
    }

    .refreshVoiceChannelsButton__29444 /* remove the show all voice channels button from channel list */ {
        display: none !important;
    }

    .content__99f8c /* fix the empty space in channel lists */ {
        height: 1100px !important;
    }

    .wrapper__0d616 /* remove quest popups by the account thing in bottom left */ {
        display: none !important;
    }

    .button__67645[aria-label="User Settings"] /* remove settings button cus i just have a keybind for it https://github.com/not-a-cowfr/not-a-cowfr/blob/main/configs/legcord/snippets.md#settings-keybind */ {
        display: none !important;
    }

    .icon__6e9f8 /* server list new mention pill */ {
        --bg-4: white !important;
    }
}
